<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/main.css" />

  <title>Spice Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    Spice Blog
  </a>

  <div class="post-area">
    <h3><a href="/blog/newpost">add new post</a> | <a href="/blog">Go home</a></h3>
  </div>

  <div class="login-area">
    {% if user %}
      Welcome, {{user.name}}! (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>
